@import url(./global.css);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .buttons-container {
    display: flex;
    gap: 0 8px;
}

nav .buttons-container #cart-button,
nav .buttons-container #profile-button {
    width: 3em;
    height: 3em;
    cursor: pointer;
    border-radius: 50%;
    border: solid 1px black;
    transition-duration: .2s;
}

nav .buttons-container #cart-button:hover,
nav .buttons-container #profile-button:hover {
    background-color: rgb(215, 215, 215);
}

nav .buttons-container .cart-container #cart-item {
    background-color: white;
    border: solid 1px black;
    position: absolute;
    transform: translate(-50%);
    width: auto;
    white-space: nowrap;
    max-width: 100vw;
    padding: 8px;
    border-radius: 12px;
    margin: 4px;
}

nav .buttons-container .cart-container #cart-item #cart-info {
    display: flex;
    gap: 0 8px;
}

.product-item {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

@media all and (max-width: 1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 725px) {
    main {
        grid-template-columns: 1fr;
    }
}

main .product-card {
    display: flex;
    flex-direction: column;
    gap: .25em;
    border: solid 1px rgba(30, 143, 255, 0.5);
    box-shadow: 0 0 20px rgba(30, 143, 255, 0.2);
    padding: 1em;
    border-radius: 15px;
    width: 20em;
}

main .product-card h3.name {
    font-weight: 800;
}

main .product-card img {
    width: 35%;
}

main .product-card span.sub-item {
    font-weight: 600;
}


main .product-card button.buy-button {
    width: 50%;
}