@import url("./global.css");

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    gap: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav .buttons-container #cart-button,
nav .buttons-container #profile-button {
    width: 3em;
    height: 3em;
    cursor: pointer;
    border-radius: 50%;
    border: solid 1px black;
    transition-duration: .2s;
}

nav .buttons-container #cart-button:hover,
nav .buttons-container #profile-button:hover {
    background-color: lightblue;
}

nav .buttons-container .cart-container #cart-item {
    background-color: white;
    border: solid 1px black;
    position: absolute;
    transform: translate(-50%);
    width: auto;
    white-space: nowrap;
    max-width: 100vw;
}

.product-item {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}