* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body, html {
    height: 100dvh;
}

body {
    font-family: serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

main .product-card {
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(30, 143, 255, 0.5);
    box-shadow: 0 0 20px rgba(30, 143, 255, 0.2);
    padding: 1em;
    border-radius: 15px;
    width: 25dvw;
}