@import url(./main.css);

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

@media all and (max-width: 1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 725px) {
    main {
        grid-template-columns: 1fr;
    }
}

main .product-card {
    display: flex;
    flex-direction: column;
    gap: .25em;
    border: solid 1px rgba(30, 143, 255, 0.5);
    box-shadow: 0 0 20px rgba(30, 143, 255, 0.2);
    padding: 1em;
    border-radius: 15px;
    width: 20em;
}

main .product-card h3.name {
    font-weight: 800;
}

main .product-card img {
    width: 35%;
}

main .product-card span.sub-item {
    font-weight: 600;
}


main .product-card button.buy-button {
    width: 50%;
}